// 该文件中的css 会在目标代码生成后，插入到文档中
// .vp-feature-item{
//     background-color: #fcfcfc;
// }
.vp-feature-header,.vp-highlight-header{
    font-size: 1.5rem;
}
.vp-feature-title{
    font-size: 1rem;
}
.vp-feature-details{
    font-size: 1rem;
    color: gray;
}
.vp-heightlight-title,.vp-heightlight-detail{
    font-size: 1rem;
}
//侧边栏标题样式
.vp-sidebar-title{
    font-weight: bold;
}
//侧边栏滚动条隐藏
// .vp-sidebar{
//     overflow-y: auto; /* 允许垂直滚动 */
//     scrollbar-width: none; /* Firefox */
//     -ms-overflow-style: none; /* IE 和 Edge */
// }